.locked {
  pointer-events: none;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 40px);
  grid-template-rows: repeat(3, 40px);
  justify-content: center;
  gap: 1px;

  margin-top: 40px;
}
